[Unit]
Description=bot
After=network-online.target
Requires=network-online.target

[Service]
Restart=on-failure
RestartSec=5
PIDFile=/var/run/bot.pid
User=bot
EnvironmentFile=/etc/environment
ExecStart=/usr/local/bin/php /usr/local/bin/bot/bot.php
