[Unit]
Description=bot

[Service]
Restart=on-failure
RestartSec=5
PIDFile=/var/run/bot.pid
User=bot
EnvironmentFile=/etc/environment
ExecStart=/usr/local/bin/php /usr/local/bin/bot/bot.php

[Install]
WantedBy=multi-user.target
Requires/After=network-online.target
